.catalog {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 4rem 3rem 0rem;
}

.catalog__col:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 45%;
}

.catalog h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #291507;
}
.catalog h1 hr {
  height: 3.21px;
  margin-bottom: 3px;
  background: #4d270c;
  border-radius: 77px;
  border: none;
  width: 59.18px;
}
.catalog p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #291507;
}

.catalog__col:last-child {
  display: grid;
  width: 55%;
  grid-template-columns: auto auto;
  gap: 1.5rem;
  flex: 1 0;
}

.catalog__col:first-child a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: rgba(41, 21, 7, 0.6);
  display: flex;
  gap: 5px;
  width: fit-content;
}
.right-arrow {
  color: #7f736a;
}

.catalog__col:last-child div {
  display: grid;
  grid-template-columns: auto;
  gap: 1.5rem;
}

.catalog__col:last-child div img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 932px) {
  .catalog {
    flex-direction: column;
    gap: 3rem;
  }
  .catalog__col:first-child {
    width: 100%;
  }
  .catalog__col:last-child {
    width: 100%;
  }
}
