.most-searched-breed {
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.breedList {
    counter-reset: breeditem;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.most-searched-breed > h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #291507;
}