footer {
    background: #000000;
border-top-right-radius: 42px;
border-top-left-radius: 42px;
height: 7rem;
display: flex;
align-items: center;
padding:2rem 3rem;
gap:3rem;
flex-wrap: wrap;
margin-top: 4rem;
}
footer img{
    filter: brightness(0) invert(1);
}
footer p {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
margin-left: auto;
}
footer p a {
    text-decoration: underline;
    font-weight: bold;
    color: inherit;
}